/* Estilos generales para el cuerpo del documento */
body {
    font-family: "Arial Black", sans-serif; /* Fuente Arial Black */
    font-size: 12px; /* Tamaño de fuente 12px */
    color: gray; /* Color de texto gris */
    background-color: white; /* Fondo blanco */
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
header {
    background-color: #f8f8f8; /* Fondo gris claro */
    padding: 10px 0; /* Espaciado arriba y abajo */
    border-bottom: 1px solid #ddd; /* Borde inferior */
}

/* Estilos para la lista de navegación */
nav ul {
    list-style-type: none; /* Sin estilo de lista */
    padding: 0;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
}

/* Estilos para los elementos de la lista de navegación */
nav ul li {
    margin: 0 15px; /* Margen a los lados */
}

/* Estilos para los enlaces de navegación */
nav ul li a {
    text-decoration: none; /* Sin subrayado */
    color: gray; /* Color de texto gris */
    font-weight: bold; /* Texto en negrita */
}

/* Estilos para el contenido principal */
main {
    padding: 20px;
    text-align: center; /* Centrar texto */
    margin-bottom: 50px; /* Margen inferior para separación con el pie de página */
}

/* Estilos para las imágenes */
main img {
    max-width: 100%; /* Máximo ancho al 100% del contenedor */
    height: auto; /* Altura automática */
}

/* Estilos para el pie de página */
footer {
    background-color: #f8f8f8; /* Fondo gris claro */
    padding: 10px 0; /* Espaciado arriba y abajo */
    border-top: 1px solid #ddd; /* Borde superior */
    text-align: center; /* Centrar texto */
    position: fixed; /* Fijar al fondo de la página */
    bottom: 0;
    width: 100%; /* Ancho al 100% del contenedor */
}

/* Estilos específicos para la lista de redes sociales */
.social-links {
    list-style-type: none; /* Sin estilo de lista */
    padding: 0;
}

/* Estilos para los elementos de la lista de redes sociales */
.social-links li {
    margin: 5px 0; /* Margen arriba y abajo */
}

/* Estilos para los enlaces de redes sociales */
.social-links li a {
    text-decoration: none; /* Sin subrayado */
    color: gray; /* Color de texto gris */
}
